# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Power BI temporary files
*.pbix.lock

# SQL Server
*.bak

# Compressed Files
*.zip

# Logs
*.log